<div class="w3-container" style="height: 80vh;">
    <div class="container-fluid card-type">
        <h3>Sites</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Tanks</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <!-- ite_id": 12345,
  //           "site_name": "Site 1",
  //           "site_tank_count" -->
                <tr *ngFor="let site of sites; let i=index border-bottom" class="hover" (click) = "viewTanks(site)">
                    <td><small class="truncate">{{ site.site_id }}</small></td>
                    <td><small class="truncate">{{ site.site_name }} </small></td>
                    <td><small class="truncate">{{ site.site_tank_count}}</small></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
