<div class="w3-container" style="height: 80vh;">
    <div class="text-center white-text bg-danger text-lowercase">{{alertMsg}}</div>
    <div class="container-fluid card-type">
        <h5 class="h5-fluid">{{this.tank.tank_name}} 
            <div *ngIf = "showLoader" class="spinner-border spinner-border-sm mx-3 text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </h5>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Current Volume</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngIf = "tankObj" class="hover border-bottom">
                    <td><small class="truncate">{{ tankObj.tank_id }}</small></td>
                    <td><small class="truncate">{{ tankObj.tank_name }} </small></td>
                    <td><small class="truncate">{{ tankObj.tank_capacity }} </small></td>
                    <td><small class="truncate">{{ tankObj.tank_current_volume }} </small></td>
                </tr>
            </tbody>
        </table> <br>
        <hr>
        <small class="font-weight-bold hover text-color" routerLink = "/dashboard/home">back to home</small>
    </div>
</div>
