<div class="w3-sidebar w3-bar-block w3-collapse bg-primary w3-animate-left pt-4" style="width:200px; overflow-x: hidden;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large white-text" (click) = "this.w3_close()">Close &times;</button>
    <div class="row">
        <div class="col text-center">
            <h5 class="h5-responsive white-text">Fuel Control System </h5>
        </div>
    </div>
    <div class="row mt-5 ml-3 white-text">
        <div class="col-12 mb-1 p-3" [class.active-link] = "currentRoute == '/dashboard/home'" >
            <!-- <i class="fas fa-th-large mr-3"></i> <a routerLink="/dashboard/home">Dashboard</a> -->
            <mdb-icon fas icon="home" class="mr-2"></mdb-icon> <a routerLink="/dashboard/home">Home</a>
        </div>
        <div class="col-12 fixed-bottom p-3">
            <button class="btn btn-default btn-sm white-text" (click) = "this.data.logout()"><mdb-icon fas icon="sign-out-alt" class="ml-1 mr-1"></mdb-icon>Logout</button>
        </div>
    </div>
       
</div>
  
<div class="w3-main" style="margin-left:200px;">
    <div class="">
        <button class="w3-button w3-xlarge w3-hide-large bg-primary white-text" (click)="this.w3_open()">&#9776;</button>
        <div class="w3-container">
            <div class="row">
                <!-- main-col-1 -->
                <div class="col pt-3">
                    <!-- sub row -->
                    <div class="row container-fluid">
                        <div class="col">
                            <h3 class = "h3-responsive">Welcome</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <router-outlet>

                            </router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>